fastapi==0.115.4
uvicorn[standard]==0.32.1
aiohttp==3.10.5
loguru==0.7.2
numpy==1.26.4
pandas==2.2.3
opencv-python-headless==4.10.0.84
python-multipart>=0.0.9
ultralytics==8.3.221
pillow==10.4.0
pytesseract==0.3.10
redis[asyncio]==5.0.4 