venv/
.env
.DS_Store
.ipynb_checkpoints/
*.pt
*.pth
*.onnx
*.tflite
*.ckpt
*.npy
*.npz
wandb/
runs/
outputs/
data/
datasets/
checkpoints/
results/
cache/
logs/
mlruns/
.idea/
__pycache__/
*.py[cod]
*.pyo
*.pkl
*.log
*.tmp
*.out
*.bak
*.jpg
*.jpeg
*.png
*.txt
*.csv
*.json
**/train/**
**/valid/**
**/test/**
*.jpg
*.png
*.jpeg
*.txt
