.app-layout {
  display: flex;
  min-height: 100vh;
  width: 1664px;
  background-color: #F5F6F8;
}

.app-layout-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #F5F6F8;
}

.app-layout-main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: auto;
}
