*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Service Account Key (GCP)
app/src/main/assets/stt-key.json

# Optional: exclude all assets if not needed
# app/src/main/assets/