.communication-container {
  box-sizing: border-box;
  width: 1664px;
  height: 1011px;
  background-color: #f5f6f8;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 24px;
  padding: 24px 32px;
}
